body {
    background-size: cover;
    background: #000000 url('images/background.jpg') fixed;
}

.Top {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 90px;
    z-index: 10;
    background-color: rgba(19, 19, 71, 0.5);
    border: 4px solid midnightblue;
}

.Title {
    position: absolute;
    margin-left: 30px;
    height: 100%;
    color: royalblue;
    font-size: xx-large;
    font-family: "Courier New", monospace;
    display: flex;
    align-items: center;
}

.Buttons {
    position: relative;
    display: flex;
    float: right;
}

.Content-Buttons {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
}

.Buttons-Margin {
    margin-top: 20px;
    margin-right: 20px;
}

.Button-Container {
    margin-left: 30px;
}

.Icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.Sidebar {
    position: fixed;
    margin-left: 30px;
    top: 120px;
    bottom: 40px;
    width: 200px;
    color: aquamarine;
    background-color: rgba(19, 19, 71, 0.5);
    border: 4px solid midnightblue;
}

.Sidebar-Option {
    display: inline-block;
    box-sizing: border-box;
    font-family: "Cascadia Mono", monospace;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    padding: 5px;
    width: calc(100% - 20px * 2);
    color: deepskyblue;
    background-color: rgba(0, 191, 255, 0.2);
    text-decoration: none;
}

.content {
    display: table;
    position: relative;
    right: 20px;
    top: 90px;
    width: calc(100% - 300px);
    bottom: 10px;
}

.content-box {
    position: relative;
    width: 75%;
    margin: 20px;
    float: left;
}

.content-text {
    color: white;
    font-family: "Cascadia Mono", monospace;
    margin: 20px;
}

.floats-right {
    float: right;
}

.lightblue {
    background-color: rgba(00, 142.5, 190.5, 0.5);
    border: 4px solid rgb(00, 120, 120);
}

.lightgreen {
    background-color: rgba(00, 142.5, 0, 0.5);
    border: 4px solid forestgreen;
}

.red {
    background-color: rgba(205, 92, 92, 0.5);
    border: 4px solid crimson;
}

.yellow {
    background-color: rgba(225, 225, 0, 0.5);
    border: 4px solid orange;
}