body {
    background-size: cover;
    background: #000000 url('images/background.jpg') fixed;
}

.Top {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 90px;
    z-index: 10;
    background-color: rgba(19, 19, 71, 0.5);
    border: 4px solid midnightblue;
}

.Title {
    position: absolute;
    margin-left: 30px;
    height: 100%;
    color: royalblue;
    font-size: xx-large;
    font-family: "Courier New", monospace;
    display: flex;
    align-items: center;
}

.Buttons {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    float: right;
}

.Button-Container {
    margin-left: 30px;
}

.Button {
    width: 50px;
    height: 50px;
}

.Sidebar {
    position: fixed;
    margin-left: 30px;
    top: 120px;
    bottom: 40px;
    width: 200px;
    color: aquamarine;
    background-color: rgba(19, 19, 71, 0.5);
    border: 4px solid midnightblue;
}

.Sidebar-Option {
    display: inline-block;
    font-family: "Cascadia Mono", monospace;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    color: deepskyblue;
    text-decoration: none;
}

.content {
    position: sticky;
    left: 300px;
    margin-top: 130px;
    width: 80%;
    height: 80%;
    bottom: 40px;
}

.content-box {
    position: relative;
    width: 60%;
    margin: 20px;
}

.content-text {
    color: white;
    font-family: "Cascadia Mono", monospace;
    margin: 20px;
}

.floats-right {
    float: right;
}

.lightblue {
    background-color: rgba(00, 142.5, 190.5, 0.5);
    border: 4px solid rgb(00, 120, 120);
}

.lightgreen {
    background-color: rgba(00, 142.5, 0, 0.5);
    border: 4px solid rgb(00, 120, 120);
}