body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.Top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.Title {
    position: absolute;
    margin-left: 30px;
    color: royalblue;
    font-size: x-large;
    font-family: "Courier New", monospace;
}

.Buttons {
    position: relative;
    /*margin-top: 10px;*/
    /*margin-right: 30px;*/
    font-size: 0;
    display: flex;
    float: right;
}

.Button {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.Sidebar {
    position: fixed;
    margin-left: 30px;
    top: 120px;
    bottom: 40px;
    width: 200px;
    color: aquamarine;
    background-color: rgba(19, 19, 71, 0.5);
    border: 4px solid midnightblue;
}

.Sidebar-Option {
    display: inline-block;
    font-family: "Cascadia Mono", monospace;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    color: deepskyblue;
    text-decoration: none;
}

.content {
    position: sticky;
    left: 300px;
    top: 120px;
    width: 80%;
    height: 80%;
    bottom: 40px;
}

.content-box {
    width: 60%;
    margin: 20px;
}

.content-text {
    color: white;
    font-family: "Cascadia Mono", monospace;
    margin: 20px;
}

.floats-right {
    float: right;
}

.lightblue {
    background-color: rgba(00, 142.5, 190.5, 0.5);
    border: 4px solid rgb(00, 120, 120);
}

.lightgreen {
    background-color: rgba(00, 142.5, 0, 0.5);
    border: 4px solid rgb(00, 120, 120);
}